    
      <div class="mt-5 mx-auto" *ngIf="info">
        <!-- Component -->
        <div class="card shadow" >
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <a href="#" class="avatar avatar-xl rounded-circle">
                <img alt="..." src="{{info.avatar_url}}">
              </a>
            </div>
            <div class="text-center my-6" >
              <!-- Title -->
              <a href="#" class="d-block h5 mb-0">{{profiles.login}}</a>
              <!-- Subtitle -->
              <span class="d-block text-sm text-mute">{{info.bio}}</span>
              <span class="d-block text-sm text-muted">{{info.email}}</span>
            </div>
            <!-- Stats -->
            <div class="d-flex">
              <div class="col-4 text-center">
                <a href="#" class="h4 font-bolder mb-0">{{info.public_repos}}</a>
                <span class="d-block text-sm">Repos</span>
              </div>
              <div class="col-4 text-center">
                <a href="#" class="h4 font-bolder mb-0">{{info.followers}}</a>
                <span class="d-block text-sm">Followers</span>
              </div>
              <div class="col-4 text-center">
                <a href="#" class="h4 font-bolder mb-0">{{info.following}}</a>
                <span class="d-block text-sm">Following</span>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    <div class="mt-8 text-center">
      <a href="{{info.html_url}}" class="text-warning" target="_blank">Browse all projects -></a>
    </div>
